<article id="request-view" style="display:none;">
    <section class="row">
        <div class="col s12">
            <table>
                <tbody>
                    <tr>
                        <td>Submitted By:</td>
                        <td>{{selectedItem.SubmitterName}}</td>
                        <td>Submission Date:</td>
                        <td>{{getDateString(selectedItem.SubmissionDate)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="row">
        <div class="col s12">
            <h5 class="left-align">Node Data</h5>
            <table>
                <tbody>
                    <tr>
                        <td>Common Name:</td>
                        <td>{{selectedItem.NodeData.Node.CommonName}}</td>
                        <td>Other Names:</td>
                        <td>{{getSelectedOtherNames()}}</td>
                    </tr>
                    <tr>
                        <td>{{getRelatedDateString()}}</td>
                        <td>{{getDateString(selectedItem.NodeData.Data.Date)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section class="row">
        <div class="col s12">
            <h5 class="left-align">Relationship Data</h5>
            <div>
                <ul class="tabs tabs-fixed-width">
                    <li class="tab col s4"><a href="#company-tab">Companies</a></li>
                    <li class="tab col s4"><a href="#media-tab">Media</a></li>
                    <li class="tab col s4"><a href="#people-tab">People</a></li>
                </ul>
            </div>
            <div id="company-tab" class="col s12">
                <h5>Related Companies</h5>
                <div>

                </div>
            </div>
            <div id="media-tab" class="col s12">
                <h5>Related Media</h5>
            </div>
            <div id="people-tab" class="col s12">
                <h5>Related People</h5>
                <div class="row" @*ng-app="relationshipApp" ng-controller="relationshipController"*@>
                    <div class="col s6">
                        <!-- Relationship list -->
                    </div>
                    <div class="col s6">
                        <!-- Detailed information -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="col s12">
            <button type="button" class="waves-effect waves-light btn-flat left">Back</button>
            <div class="right">
                <button type="button" class="waves-effect waves-green green lighten-3 btn">Approve</button>
                <button type="button" class="waves-effect waves-red red lighten-3 btn">Reject</button>
            </div>
        </div>
    </section>
</article>
