.relationship-group {
    overflow-y: scroll;
    height: 250px;
    max-height: 250px;
}
.pointer-item {
    cursor: pointer;
}
.picker__header select {
    display: inline-block !important;
}
#relationship-chips.disabled {
    border-bottom-style: dotted;
}
#relationship-chips input {
    border-bottom:none;
}
.relationship-group li {
    cursor: pointer;
}