.visualization-wrapper {
    margin: 10px 20px;
}
.visualization {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 50vh;
}
.visualization.full {
    height: 59vh;
}
.network-display {
    border: 1px solid #808080;
}
.timeline-display {
}
.popup {
    width: auto;
    height: auto;
    z-index: 10000;
    position: absolute;
}
.popup.inactive {
    display:none;
}
.popup.active {
    display:flex;
}
#info-popup {
    background: white;
}
#info-table {
    font-size: 12px;
}
.vis-item.vis-dot.type-1 {
    border-color: #63CE4B;
}
.vis-item.vis-dot.type-2 {
    border-color: #CD7ED1;
}
.vis-item.vis-dot.type-3 {
    border-color: #5BC5D9;
}
.vis-item.vis-dot.death {
    border-color: #ED2121;
}
.vis-item.death {
    color: #ED2121;
}