body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.active-item {
    font-size: 1.5em;
}
.small-text {
    font-size: 0.8rem;
}
.info-display {
    min-height: 200px;
    height: 250px;
}
.scroll-list {
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}
.pointer-item { 
    cursor: pointer;
}