body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/*.info-display {
    min-height: 200px;
    height: 250px;
}*/
.scroll-list {
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}
.relationship-group {
    overflow-y: scroll;
    height: 250px;
    max-height: 250px;
}
.pointer-item {
    cursor: pointer;
}
.picker__header select {
    display: inline-block !important;
}
.chips.disabled {
    border-bottom-style: dotted;
}
#relationship-chips input, #genre-chips input, #other-name-chips input {
    border-bottom: none;
}