body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.scroll-list {
    height: 200px;
    max-height: 200px;
    overflow-y: scroll;
}
/*.relationship-group {
    overflow-y: scroll;
    height: 250px;
    max-height: 250px;
}*/
.pointer-item {
    cursor: pointer;
}
.picker__header select {
    display: inline-block !important;
}
.chips.disabled {
    border-bottom-style: dotted;
}
#relationship-chips input, #genre-chips input, #other-name-chips input {
    border-bottom: none;
}

/* Admin Management Pages */
.list {
    overflow-y: scroll;
    min-height: 54vh;
    max-height: 54vh;
}
#page-selection-box {
    width: 50px;
    text-align: center;
    border-radius: 5px;
}
/* Contribution Page */
.tabs.green-tabs .tab a {
    /* 1b5e20 */
    color: rgba(27,94,32,0.7) !important;
}
.tabs.green-tabs .indicator {
    background-color: #81c784 !important;
}