@{ 
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
    ViewBag.Title = "Search";
}

<article class="row">
    @using (Html.BeginForm("Search", "Search", FormMethod.Get))
    {
        <section class="col s12">
            <div class="input-field">
                <label for="idField" class="active">Search By Name</label>
                <select name="id">
                    <option value="" disabled selected>Choose an option</option>
                    <option value="00000000-0000-0000-0000-000000000000">Tales of Xillia 2</option>
                    <option value="00000000-0000-0000-0000-000000000001">Bandai Namco</option>
                </select>
            </div>
        </section>
        <section class="col s12">
            <button type="submit" class="waves-effect waves-light btn">Search</button>
        </section>
    }
</article>
@section scripts {
    <script src="~/Scripts/myScripts/searchScript.js"></script>    
}
