@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<article class="row">
    <section class="col s12 m6">
        <h3 class="left-align">The Project</h3>
        <p class="flow-text">The perfect thing for this would be the introduction to my capstone presentation.</p>
    </section>
    <section class="col s12 m6">
        <h3 class="left-align">The Goal</h3>
        <p class="flow-text">Put simply, the goal is to visualize the relationships between the world's modern media such
        as movies, television shows, video games, and literary works. By giving the community the power to contribute information
        about any sort of modern work the problems of specialization and update speed can be resolved to create an accurate
        database that covers all areas of modern media.</p>
    </section>
</article>
