@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<article class="row">
    <section class="col s12">
        <h3 class="left-align">The Project</h3>
        <p class="flow-text">
            Have you ever been in the middle of a conversation about a movie or video
            game and heard a name and thought, "What else have they done?" Perhaps you've 
            been playing a game or watching a movie and heard a voice or saw a face and thought, "That seems familiar."
            In order to appease your curiousity you go online to search to see if the name, voice, or face is, in fact,
            something you've seen before only to come up empty handed as to why you recognized the person at all.<p>
        <p class="flow-text">
            That is the problem that <i>@(System.Configuration.ConfigurationManager.AppSettings["websiteName"])</i> seeks to solve by providing everyone with a massive database of movies,
            video games, people, and companies that can be searched and visualized in a beautiful display. Furthermore, by
            allowing anyone to sign up and contribute information the breath and size of the data will only continue to grow.
        </p>
    </section>
    <section class="col s12">
        <h3 class="left-align">The Goal</h3>
        <p class="flow-text">Put simply, the goal is to visualize the relationships between the world's modern media such
        as movies, television shows, video games, and literary works. By giving the community the power to contribute information
        about any sort of modern work the problems of specialization and update speed can be resolved to create an accurate
        database that covers all areas of modern media.</p>
    </section>
</article>
