@{
    ViewBag.Title = "Account Deleted";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}
<article class="row">
    <section class="col s12">
        <div class="card-panel green lighten-2">
            <p class="flow-text">Your account has been deleted.</p>
        </div>
    </section>
</article>
