@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<article class="row container">
    <section class="col s4">
        <a href="/edit/index" class="front-page-link">
            <div class="center front-page-promo">
                <i class="large material-icons">create</i>
                <p class="front-page-caption">Contribute</p>
                <p class="light center">Contribute new information to the database to keep the database growing.</p>
            </div>
        </a>
    </section>
    <section class="col s4">
        <div class="center">
            <i class="large material-icons">home</i>
            <p class="front-page-caption">Welcome</p>
            <p class="light center">
                Welcome to @(System.Configuration.ConfigurationManager.AppSettings["websiteName"]). Shatter the 4<sup>th</sup> wall.
            </p>
        </div>
    </section>
    <section class="col s4">
        <a href="/graph/index" class="front-page-link">
            <div class="center front-page-promo">
                <i class="large material-icons">search</i>
                <p class="front-page-caption">Visualize</p>
                <p class="light center">Search for and visualize the relationships between media and the people and companies behind them.</p>
            </div>
        </a>
    </section>
</article>