@model MediaGraph.ViewModels.Edit.NodeDescriptionViewModel
@{
    ViewBag.Title = "Home Page";
}
@section scripts {
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

<article>
    <section class="row">
        <form id="test-form" class="col s12" autocomplete="off">
            <div class="row">
                <div class="input-field col s6">
                    <input id="english_name" type="text">
                    <label for="english_name">English Name</label>
                </div>
                <div class="input-field col s6">
                    <div id="other_names" class="chips chips-placeholder"></div>
                    <label for="other_names">Other Names</label>
                </div>
            </div>
        </form>
    </section>
</article>