<section class="row">
    <h3 class="col s12 center">Request Accepted</h3>
</section>
<section class="row">
    @if(User.IsInRole("staff"))
    {
        <p class="col s12 flow-text">
            Your request has been accepted to the database. While it may not appear immedately it has already been validated and reviewed
            and will be added shortly.
        </p>
    }
    else
    {
        <p class="col s12 flow-text">
            Your request as been accepeted. However, it will not be added immediately. Before your changes are made, our staff will make sure
            that everthing looks okay. 
        </p>
    }
</section>
