<div id="help-modal" class="modal modal-fixed-footer">
    <h4 class="center-align">Contribution Help</h4>
    @* This should be only a simple guidlines review. Try to add a field to the users to track acceptance of the contribution guildelines.*@
</div>
