<section>
    <h5 class="center-align">Media Information</h5>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <select name="media-type">
                <option value="" disabled selected>Media Type</option>
                <option value="audio" disabled>Audio</option>
                <option value="book">Book</option>
                <option value="video">Video, Movie, Show</option>
                <option value="game">Video Game</option>
            </select>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <label for="release-date" class="active">First Release Date</label>
        </div>
        <input name="release-date" type="text" class="datepicker" ng-model="node.releaseDate"/>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <label for="franchise-name">Franchise</label>
            <input type="text" name="franchise-name" ng-model="node.franchiseName" />
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            <label for="common-name">Common English Name</label>
            <input name="common-name" type="text" ng-model="node.commonName" />
        </div>
    </div>
    <div class="col s12 m6">
        <div class="input-field">
            <label for="other-name-chips">Other Names</label>
            <div id="other-name-chips" class="chips"></div>
        </div>
    </div>
    <div class="col s12">
        <div class="input-field">
            <label for="genre-chips">Genres</label>
            <div id="genre-chips" class="chips"></div>
        </div>
    </div>
</section>
