<section>
    <h5 class="center-align">Media Information</h5>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <select name="media-type">
                <option value="" disabled selected>Media Type</option>
                <option value="audio" disabled>Audio</option>
                <option value="book">Book</option>
                <option value="video">Video, Movie, Show</option>
                <option value="game">Video Game</option>
            </select>
        </div>
    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <label for="franchise-name">Franchise</label>
            <input type="text" name="franchise-name" />
        </div>
    </div>
    <div class="col s12 m6 l4">

    </div>
    <div class="col s12 m6 l4">
        <div class="input-field">
            <div id="genre-chips" classs="chips"></div>
        </div>
    </div>
</section>
