@model MediaGraph.ViewModels.Edit.PersonNodeViewModel

@using (Html.BeginForm("SubmitPerson", "Edit", FormMethod.Post, new { onsumbit = "return validate();", id = "nodeForm" }))
{
    <section>
        <h5 class="center-align">Person Information</h5>
        <div class="col s12 m6">
            <div class="input-field">
                <label for="givenName">Given Name</label>
                <input type="text" name="givenName" model="givenName" />
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <label for="familyName">Family name</label>
                <input type="text" name="familyName" model="familyName" />
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <label for="other-names">Other Names</label>
                <div id="other-names" class="chips"></div>
            </div>
        </div>
        <div class="col s12 m6">
            <label for="releaseDate" class="active">Date of Birth</label>
            <input type="text" name="releaseDate" class="datepicker" model="releaseDate" />
        </div>
        <div class="col s12 m6">
            <label for="deathDate" class="active">Date of Death</label>
            <input type="text" name="deathDate" class="datepicker" model="deathDate" />
        </div>
        <div class="col s12 m6 l4">
            <div class="input-field">
                <label for="Status" class="active">Status</label>
                <select id="person-status" name="Status">
                    <option value="active" selected>Active</option>
                    <option value="inactive">Inactive</option>
                    <option value="retired">Retired</option>
                    <option value="deceased">Deceased</option>
                </select>
            </div>
        </div>
    </section>

    <input type="hidden" name="contentType" value="person" />
    <input type="hidden" name="otherNames" />
    <input type="hidden" name="relatedCompanies" />
    <input type="hidden" name="relatedMedia" />
    <input type="hidden" name="relatedPeople" />
}
