
@{
    ViewBag.Title = "Edit information"; // This should be set in the controller
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<div ng-app="EditFormApp" ng-controller="EditFormController">
    <article id="basic-node-info" class="row">
        <div class="col s12 m6 l4">
            <div class="input-field">
                <select name="nodeType" ng-model="node.contentType" ng-change="nodeTypeChanged()">
                    <option value="" disabled selected>Content Type</option>
                    <option value="company">Company</option>
                    <option value="media">Media</option>
                    <option value="person">Person</option>
                </select>
            </div>
        </div>
    </article>
    <article id="type-specific-info" class="row">
    </article>
    <div class="divider"></div>
    <article id="relationship-info" class="row">
        <div class="col s12">
            <ul class="tabs tabs-fixed-width">
                <li class="tab"><a>Companies</a></li>
                <li class="tab"><a>Media</a></li>
                <li class="tab"><a>People</a></li>
            </ul>
        </div>
        <div id="relationship-data" class="col s12 m6">
            <h5 class="center-align">Related ???</h5>
            <ul class="collection relationship-group">
                <li class="collection-item">
                    <div>
                        <span>Title</span>
                        <a class="secondary-content collection-link"><i class="material-icons">close</i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div id="relationship-data-entry" class="col s12 m6">
            <form name="relationship-entry-form" autocomplete="off">
                <div class="input-field">
                    <label for="target-name">Name</label>
                    <input name="target-name" type="text" />
                </div>
                <div class="input-field">
                    <label for="relationship-chips">Roles</label>
                    <div id="relationship-chips" class="chips"></div>
                </div>
            </form>
        </div>
    </article>
    <article id="submission-section" class="row">
        <section class="col s12">
            <div class="center">
                <button type="submit" class="waves-effect waves-light btn">Submit<i class="material-icons">send</i></button>
            </div>
        </section>
    </article>
</div>

@section css {

}
@section scripts {
    <script src="~/Scripts/myScripts/edit/edit-form-script.js"></script>
}