@using MediaGraph.Models.Component
@using MediaGraph.ViewModels.Edit
@model BasicNodeViewModel
@section css {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section headScripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
}
@section scripts {
    <script src="~/Scripts/myScripts/edit/visual-edit-form.js"></script>
}

<article class="row">
    <section class="col s12 m6">
        <div id="visualization-target" class="visualization full    network-display"></div>
    </section>
    <section class="col s12 m6">
        <div class="row">
            <h5 class="center-align">Node Information</h5>
            <div class="col s12 m6 input-field">
                <select id="ContentType" name="ContentType">
                    <option value="0" disabled selected>Content Type</option>
                    <option value="1">Company</option>
                    <option value="2">Media</option>
                    <option value="3">Person</option>
                </select>
            </div>
            <div class="col s12 m6 input-field">
                <input type="text" id="commonName" name="CommonName" />
                <label for="CommonName">Common English Name</label>
            </div>
            <div class="col s12 input-field">
                
            </div>
        </div>
        <div class="row">
            <h4 class="center-align">Related Nodes</h4>
            <div class="col s12 m6 input-field">
                <input id="relationship-autocomplete" type="text" class="autocomplete" />
                <label for="relationship-autocomplete">Target Name</label> 
            </div>
            <div class="col s12 m6 input-field">
                <label for="relationship-chips">Relationship</label>
                <div id="relationship-chips" class="chips"></div>
            </div>
            <div class="col s12 center-align">
                <button type="button" class="waves-effect waves-light green accent-4 btn">Add Relationship</button>
            </div>
        </div>
    </section>
</article>