@using MediaGraph.ViewModels.AdminTools
@model DatabaseRequestPage
@{
    ViewBag.Title = "Database Requests";
    Layout = "~/Views/AdminTools/_RequestsLayout.cshtml";
}

@section filter {
    @Html.Partial("_DatabaseRequestFilterPartial", new MediaGraph.ViewModels.AdminTools.DatabaseRequestFilter())    
}
@section requestList {
    <div class="valign-wrapper">
        <h5 class="center-align">Requests</h5>
        <button id="hide-button" type="button" class="waves-effect waves-light btn-flat" style="display:none;">Hide filter</button>
    </div>
    <div id="request-list" class="collection list">
        @if(Model.Requests.Count() > 0)
        {
            foreach(DatabaseRequestViewModel request in Model.Requests)
            {
                <a href="/admintools/viewrequest/@request.RequestId.ToString()" class="collection-item">
                    @{ 
                        if (!request.Reviewed)
                        {
                            <span class="new badge"></span>
                        }
                        else
                        {
                            if (request.Approved)
                            {
                                <span class="new badge green" data-badge-caption="approved"></span>
                            }
                            else
                            {
                                <span class="new badge red" data-badge-caption="rejected"></span>
                            }
                        }
                    }
                    [@request.GetRequestTypeString()] @request.NodeData.CommonName
                </a>
            }
        }
        else
        {
            <div class="center-align">No Results</div>
        }
    </div>
}
@section scripts {
    <script src="~/Scripts/myScripts/admin-tools/request-base.js"></script>
    <script src="~/Scripts/myScripts/admin-tools/request-manager.js"></script>
}


