
@{
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
    ViewBag.Title = "Admin Tools - All Tools";
}

@if(User.IsInRole("staff"))
{
    <article class="row">
        <section class="col s12">
            <h4 class="left-align">User Management</h4>
            <p class="flow-text">Manage user permission levels.</p>
            @Html.ActionLink("Manage Users", "UserManagement", null, new { @class = "right-align" })
        </section>
    </article>
}
<article class="row">
    <section class="col s12">
        <h4 class="left-align">View Database Requests</h4>
        <p class="flow-text">View and review submitted database requests.</p>
        @Html.ActionLink("Manage Database Requests", "DatabaseRequests", null, new { @class="right-align" })
    </section>
</article>

