<div id="create-node-modal" class="modal green darken-3">
    <div class="modal-content white-text">
        <h4>Node Not Found</h4>
        <p>The node you are looking for does not exist. Would you like to create it?</p>
    </div>
    <div class="modal-footer">
        @Html.ActionLink("Create Node", "Index", "Edit", null, htmlAttributes: new { @class = "waves-effect waves-light btn-flat" })
        <a href="#" class="modal-action modal-close waves-effect waves-light btn-flat">No Thanks</a>
    </div>
</div>
