@{
    ViewBag.Title = "Visualization";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Scripts/vis/vis.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section headScripts {
    @Scripts.Render("~/bundles/visualization")
}

<article class="row">
    <section id="small-search" class="col s12 hide-on-large-only"></section>
    <section id="visualization-container" class="col s12 l6">
        <div id="visualization-target" class="visualization full"></div>
    </section>
    <section id="search-and-options" class="col s12 l6 hide-on-med-and-down">
        <div class="search-content">
            <div class="section">
                <h5 class="left-align">Search
                <button class="waves-effect waves-light btn-flat modal-trigger info-button tooltipped" data-target="help-modal" data-delay="250" data-position="right" data-tooltip="Help"><i class="material-icons">info_outline</i></button>
                </h5>
                <form id="search-form" autocomplete="off">
                    <input id="id-field" type="hidden" name="id" />
                    <div class="valign-wrapper">
                        <div class="col s9 input-field">
                            <input type="text" name="text" id="autocomplete-field" class="autocomplete" />
                            <label for="autocomplete-field">Search</label>
                        </div>
                        <div class="col s3">
                            <button id="search-button" type="button" class="waves-effect waves-light btn green darken-2"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="section">
                <h5 class="left-align">Options</h5>
                <div class="row">
                    <div class="col s6">
                        <button id="switch-visualization-button" type="button" class="waves-effect waves-light green darken-2 btn-large">Timeline</button>
                    </div>
                    <div class="col s6 input-field">
                        <label for="color-blind-option" class="active">Color Options</label>
                        <select id="color-blind-option">
                            <option value="0" selected>Full Color</option>
                            <option value="1">Deuteranopia</option>
                            <option value="2">Protanopia</option>
                            <option value="3">Tritanopia</option>
                            <option value="5">Grayscale</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<div id="context-popup" class="popup inactive">
    <div id="context-items" class="collection">
        <a id="cluster-link" class="collection-item pointer-item">Cluster Connections</a>
        <a id="edit-context-link" href="/edit/index/" class="collection-item">Edit this node</a>
        <a id="delete-context-link" class="collection-item pointer-item">Flag for deletion</a>
    </div>
</div>
<div id="info-popup" class="popup inactive z-depth-1">
    <table>
        <tbody id="info-table">
        </tbody>
    </table>
</div>
@Html.Partial("_CreateNodeCard")
@Html.Partial("_HelpCardPartial")

