@{
    ViewBag.Title = "Visualization";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Scripts/vis/vis.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section headScripts {
    @Scripts.Render("~/bundles/visualization")
}

<div class="visualization-wrapper">
    <article class="row">
        <section id="visualization-container" class="col s12">
            <div id="visualization-target" class="visualization"></div>
        </section>
    </article>
    <article class="row">
        <section class="col s12 m6">
            <form id="search-form" autocomplete="off">
                <input id="id-field" type="hidden" name="id" />
                <div class="valign-wrapper">
                    <div class="col s9 input-field">
                        <input type="text" name="searchText" id="autocomplete-field" class="autocomplete" />
                        <label for="searchText">Search</label>
                    </div>
                    <div class="col s3">
                        <button id="search-button" type="submit" class="waves-effect waves-light btn"><i class="material-icons">search</i></button>
                    </div>
                </div>
            </form>
        </section>
        <section class="col s12 m6">
            <h5 class="center-align">Display Options</h5>
            <form id="visualization-options">
                <label for="type-wrapper">Visualization Type</label>
                <p id="type-wrapper">
                    <input type="radio" name="visualizationType" value="network" id="option1" class="with-gap" checked="checked" />
                    <label for="option1">Network</label>
                    <input type="radio" name="visualizationType" value="timeline" id="option2" class="with-gap" />
                    <label for="option2">Timeline</label>
                </p>
                <div id="network-options">
                </div>
                <div id="timeline-options" style="display:none;">

                </div>
            </form>
        </section>
    </article>
</div>

<div id="context-popup" class="popup inactive">
    <div id="context-items" class="collection">
        <a id="cluster-link" class="collection-item pointer-item">Cluster Connections</a>
        <a id="edit-context-link" href="/edit/index/" class="collection-item">Edit this node</a>
        <a id="delete-context-link" class="collection-item pointer-item">Flag for deletion</a>
    </div>
</div>
<div id="info-popup" class="popup inactive z-depth-1">
    <table>
        <tbody id="info-table">
        </tbody>
    </table>
</div>

