@{
    ViewBag.Title = "Visualization";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Scripts/vis/vis.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section headScripts {
    @Scripts.Render("~/bundles/visualization")
}

<article class="row">
    <section id="search-dropdown" class="col s12" style="display:none;">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_list</i>Search and Options</div>
                <div class="collapsible-body" id="search-dropdown-content"></div>
            </li>
        </ul>
    </section>
    <section id="visualization-container" class="col s12 l6">
        <div id="visualization-target" class="visualization full"></div>
    </section>
    <section id="search-column" class="col s12 l6 hide-on-med-and-down">
        @Html.Partial("_SearchAndOptionsPartial")
    </section>
</article>

<div id="context-popup" class="popup inactive">
    <div id="context-items" class="collection">
        <a id="cluster-link" class="collection-item pointer-item">Cluster Connections</a>
        <a id="edit-context-link" href="/edit/index/" class="collection-item">Edit this node</a>
        <a id="delete-context-link" class="collection-item pointer-item">Flag for deletion</a>
    </div>
</div>
<div id="info-popup" class="popup inactive z-depth-1">
    <table>
        <tbody id="info-table">
        </tbody>
    </table>
</div>
@Html.Partial("_CreateNodeCard")
@Html.Partial("_HelpCardPartial")

