@model MediaGraph.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Media Search";
}

@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/mediaPageStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />    
}
@section scripts {
    <script src="~/Scripts/myScripts/graphRenderer.js"></script>
}

<h2>Search</h2>
@using (Html.BeginForm("Search", "MediaDisplay", FormMethod.Get))
{
    <p>
        I'm looking for... a @Html.EnumDropDownListFor(x => Model.ContentType) named @Html.TextBoxFor(x => Model.Title)
    </p>
}

