@model string
@{
    ViewBag.Title = "ViewInfo";
}
@section css {
    <link rel="stylesheet" type="text/css" href="~/Content/mediaPageStyle.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/graphStyle.css" />
}
@section scripts {
    <script src="~/bower_components/svg.js/dist/svg.min.js"></script>
    <script src="~/Scripts/myScripts/graphRenderer.js"></script>
}

<h2>Search Result</h2>

<section id="mini-graph-container">
    <h3>Direct Relationships</h3>
    <div id="mini-graph-wrap">

    </div>
</section>