section {
    margin-bottom: 15px;
}

.body-wrapper {
    margin-top: 25px;
}

#side-bar h4 {
    text-align: center;
}

.update-article {
    width: 90%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px #777;
}