    @model MediaGraph.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}

<article class="row">
    <section class="col s12 m6">
        <h4>Account Settings</h4>
        <p class="green-text text-darken-1">@ViewBag.StatusMessage</p>
        <dl>
            <dt>Password:</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create password", "SetPassword")
                }
            </dd>
            @* I'm not sure if I'll be adding account deletion, but I will add it in here for the future. *@
            @*<dt>Delete Account:</dt>
            <dd>
                @Html.ActionLink("Delete Account", "DeleteAccount")
            </dd>*@
        </dl>

    </section>
    <section class="col s12 m6">
        <h4>Your Database Requests</h4>
        <div class="list">
            <h5>Coming soon</h5>
        </div>
    </section>
</article>