@model MediaGraph.Models.IndexViewModel
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_ContainerLayout.cshtml";
}
<article class="row">
    <section class="col s12 m6">
        <h4>Account Settings</h4>
        <p class="green-text text-darken-1">@ViewBag.StatusMessage</p>
        <dl>
            <dt>Password:</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create password", "SetPassword")
                }
            </dd>
            <dt>Delete Account:</dt>
            <dd><a href="#delete-account-modal" class="modal-trigger">Delete Account</a></dd>
        </dl>

    </section>
    <section class="col s12 m6">
        <h4>Your Database Requests</h4>
        <div class="list">
            <h5>Coming soon</h5>
        </div>
    </section>
</article>
<div id="delete-account-modal" class="modal">
    @using (Html.BeginForm("DeleteAccount", "Manage", FormMethod.Post, htmlAttributes: new { id = "delete-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="modal-content">
            <h4 class="center-align">Confirmation</h4>
            <p class="flow-text">Are you sure you want to delete your account? All information regarding your account will be deleted.</p>
        </div>
        <div class="modal-footer">
            <a class="modal-action waves-effect waves-red btn-flat" href="javascript:document.getElementById('delete-form').submit();">Delete</a>
            <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    }
</div>